{% extends "home.html" %}

{% block content %}
<!-- Group Section -->
<div class="contacts-section p-4 rounded my-5">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="page-header d-flex align-items-center p-2">
            <h4 class="mb-0 fs-3">Groups</h4>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="background-toggle action border rounded shadow-sm">
        <div class="filter-scroll action-buttons d-flex flex-wrap justify-content-between gap-2 mb-4 pt-4 px-4">
            <!-- Left Side: Sort & Filter -->
            <div class="responsive-filter d-flex justify-content-between align-item-center w-100">
                <div class="d-flex">
                    <!-- First button only -->
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-filter mt-1 me-1"></i>
                        Filter
                    </button>
                </div>
        
                <!-- Right Side: Other Buttons -->
                <div class="d-flex">
        
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-calendar-lines mt-1 me-1"></i>
                        03/02/2025 - 03/03/2025
                    </button>
        
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-calendar-lines-pen me-1 mt-1"></i>
                        Add Activity
                    </button>
        
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-copy me-1 mt-1"></i>
                        Duplicate
                    </button>
        
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-marker mt-1 me-1"></i>
                        Map
                    </button>
        
                    <button class="filter-form-button btn btn-outline-secondary d-flex align-items-center me-2" style="font-size:12px;">
                        <i class="fi fi-rr-clip mt-1 me-1"></i>
                        Attach
                    </button>
        
                    <div class="dropdown me-2 export-dropdown">
                        <button class="btn btn-outline-secondary d-flex align-items-center dropdown-toggle p-2" style="font-size:12px;">
                            <i class="fi fi-rr-download me-2"></i> Export
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Export as PDF</a></li>
                            <li><a class="dropdown-item" href="#">Export as CSV</a></li>
                            <li><a class="dropdown-item" href="#">Export as Excel</a></li>
                        </ul>
                    </div>
        
                    <a href="{{url_for('group.add_group')}}" class="button-bg filter-button ms-2" style="font-size:14px;">
                        <i class="fa-solid fa-plus me-2"></i> Add group
                    </a>
                </div>
            </div>
        </div>
        
        

        <hr>
        <!-- Contacts Table -->
        <div class="table-scroll-hover table-responsive" style="white-space: nowrap;">
            <table class="table table-hover" id="groupTable">
                <thead>
                    <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Company</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Title</th>
                        <th scope="col">Department</th>
                        <th scope="col">Website</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                            
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Table Data -->
                    {% for i in range(40)  %}
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>
                            <i class="fa-solid fa-star text-warning"></i>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="{{ url_for('group.group_contacts') }}"><span>Paresh Mohanty</span></a>
                            </div>
                        </td>
                        <td>EA Tech Corporation</td>
                        <td>paresh@eatechpvtltd.com</td>
                        <td>paresh@eatechpvtltd.com</td>
                        <td>paresh@eatechpvtltd.com</td>
                        <td>paresh@eatechpvtltd.com</td>
                        <td>paresh@eatechpvtltd.com</td>
                        <td>paresh@eatechpvtltd.com</td>
             
                        <td><span class="badge bg-success">Active</span></td>
                        <td>
                            <i class="fa-solid fa-ellipsis-v"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>
{% endblock %}